.cpu-progress-container {
  padding: 10px;
  min-width: 60px;
  min-height: 60px;
}

.cpu-progress-ring {
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  color: red;
}

.cpu-label {
  font-size: 10px;
  font-weight: bold;
  color: white;
}
