@use "variables.scss" as *;

.dash {
  background: $background;
  min-width: 400px;
  min-height: 300px;
  margin: 10px;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  margin-top: 83px;
  padding: 20px;

  label {
    font-size: 12px;
  }

  .progress {
    background: $surface;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }
}
