$background: rgba(35, 33, 54, 1);
$subtitle: rgb(144, 140, 170);
$hover: rgb(57, 53, 82);
$text: rgb(224, 222, 244);
$border: rgba(224, 175, 104, 1);
$opacity: 0.3;
$inactive: rgb(86, 82, 110);

$border-radius: 8px;
$bar-height: 30px;
