$background: #232136;
$subtitle: #908caa;
$surface: #2a273f;
$hover: #393552;
$text: #e0def4;
$inactive: #56526e;

$opacity: 0.3;
$border-radius: 8px;
$bar-height: 30px;
$box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .5);
