@use "variables.scss" as *;

.client-button {
  -gtk-icon-size: 16px;



  .ws-icons {
    margin-right: 14px;
  }

  &.active {
    color: $text;
  }

  &:not(.active) {
    color: $inactive;
  }

}
