@use 'styles/variables.scss' as *;
@use 'styles/bar.scss' as *;
@use 'styles/workspaces.scss' as *;
@use 'styles/tray.scss' as *;
@use 'styles/time.scss' as *;
@use 'styles/lang.scss' as *;
@use 'styles/volume.scss' as *;

* {
  all: unset;
  padding: 0;
  margin: 0;
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 14px;
}
